<%= form_for @author do |f| %>

  <div class="form-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, class:'form-control' %><br />
  </div>

  <div class="form-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, class:'form-control' %><br />
  </div>

  <%=link_to "Cancel", authors_path, class:'btn btn-default' %>

  <% if @author[:id] %>
    <%= link_to "Delete", author_path(@author), method: :delete, data: { confirm: "Are you sure?" }, class:'btn btn-danger' %>
  <% end %>

  <%= f.submit "Submit", class:'btn btn-primary' %>

<% end %>
