<%= form_for @category do |f| %>

  <% if @category.errors.any? %>
    <% @category.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class:'form-control' %><br />
  </div>

  <%= link_to "Cancel", categories_path, class:'btn btn-default' %>

  <% if @category[:id] %>
    <%= link_to "Delete", category_path(@category), method: :delete, data: { confirm: "Are you sure?" }, class:'btn btn-danger' %>
  <% end %>

  <%= f.submit "Submit", class:'btn btn-primary' %>

<% end %>
